.aside-first {
  border: 20px solid #ebebeb;
  padding: 1em;
  padding-right: 1.5em;
  padding-left: 2.5em;
  margin-bottom: 30px;
}

.aside-second {
  border: 20px solid #ebebeb;
  padding: 1em;
  padding-right: 1.5em;
  padding-left: 2.5em;
}

.aside-image {
  height: 120px;
  padding-bottom: 8px;
  padding-top: 30px;
}

.aside-title,
.aside-title-recent {
  font-family: ubuntu;
  font-weight: bold;
  font-size: 14px;
  color: #143774;
  width: 90px;
}

.aside-content {
  font-family: ubuntu;
  font-weight: 300;
  font-size: 10px;
  color: #143774;
  width: 120px;
}

.aside-content-recent {
  color: #143774;
  width: 130px;
  padding-bottom: 30px;
  border-bottom: 1px solid #707070;
}

.aside-content-deco {
  color: #143774;
  width: 130px;
  padding-bottom: 30px;
}

.aside-title {
  text-align: center;
}
